<div class="container pt-5">
    <h1 class="mt-4"> Painel de controle</h1>
</div>

<div class="card-container">
    <!-- Row 1 -->
    <div class="card">
        <img src="assets/icones/doc.svg" alt="Ícone de Inspeções" class="icon">
        <div class="card-content">
         
          <p>Você possui {{ numeroDeProjetos }} projeto(s) cadastrados.</p>
        </div>
      </div>      

    <div class="card">
        <img src="assets/icones/clipboard.svg" alt="Ícone de Usuários" class="icon">
      <div class="card-content">
        <p>Você possui {{ numeroDeDT }} Dívida(s) Ténica(s) cadastrados.</p>
      </div>
    </div>

    <div class="card">
        <img src="assets/icones/check-square.svg" alt="Ícone de Usuários" class="icon">
      <div class="card-content">
        <p>Você possui {{ numeroRelatorios }} Relatório(s) cadastrados.</p>
      </div>
    </div>
  </div>

<div class="container-painel">
    <h1 class="mt-4"> Indicadores</h1>
</div>

