.container {
    max-width: 1300px;
    margin: 30px auto;
    padding: 10px;
}
.container-painel .mt-4{
    margin-left: 28px;
}
h1 {
    margin: 0; /* Remove a margem padrão do h1 */
    font-family: 'Nunito Sans', sans-serif;
    font-size: 30px;
}

.card .icon {
    width: 30px; /* Ajuste conforme necessário */
    height: 30px; /* Ajuste conforme necessário */
    margin-top: 18px;
    margin-left: 20px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
    padding: 20px;
  }

  .card {
    flex: 1;
    max-width: 300px;
    background-color: #CDDAEF;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }

  .card:hover {
    transform: scale(1.05);
  }

  .card img {
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0;
  }

  .card-content {
    padding: 20px;
  }

  h2,
  p {
    margin: 0;
    color: #333;
    font-size: 20px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
}






h1 {
    font-size: 26px;
    color: black;
    padding: 10px;
    border-radius: 5px;
} 

.grafico-barra.chart-container {
  border: 5px solid #ddd; /* Adiciona uma borda com cor cinza */
  background-color: #f5f5f5; /* Define um plano de fundo com cor cinza claro */
  padding: 10px; /* Adiciona um espaço interno para melhorar a aparência */
  border-radius: 5px; /* Adiciona cantos arredondados */
}
.grafico-barra-2.chart-container {
    border: 5px solid #ddd; /* Adiciona uma borda com cor cinza */
    background-color: #f5f5f5; /* Define um plano de fundo com cor cinza claro */
    padding: 10px; /* Adiciona um espaço interno para melhorar a aparência */
    border-radius: 5px; /* Adiciona cantos arredondados */
    margin-top: 10px;
    margin: 20px;
}

.grafico-barra-3.chart-container {
    border: 5px solid #ddd; /* Adiciona uma borda com cor cinza */
    background-color: #f5f5f5; /* Define um plano de fundo com cor cinza claro */
    padding: 10px; /* Adiciona um espaço interno para melhorar a aparência */
    border-radius: 5px; /* Adiciona cantos arredondados */
    margin-top: 10px;
    margin: 20px;
}

.grafico-pizza.chart-container {
    border: 5px solid #ddd; /* Adiciona uma borda com cor cinza */
    background-color: #f5f5f5; /* Define um plano de fundo com cor cinza claro */
    padding: 10px; /* Adiciona um espaço interno para melhorar a aparência */
    border-radius: 5px; /* Adiciona cantos arredondados */
}  