<div class="container pt-5">
    <h1 class="mt-4"> Dashboard</h1>
</div>

<div class="card-container">
    <!-- Row 1 -->
    <div class="card">
      <img src="assets/icones/clipboard.svg" alt="Ícone de Inspeções" class="icon">
      <div class="card-content">
        <h2>Projetos </h2>
      </div>
    </div>

    <div class="card">
        <img src="assets/icones/users.svg" alt="Ícone de Usuários" class="icon">
      <div class="card-content">
        <h2>Dívidas Técnicas</h2>
      </div>
    </div>

    <div class="card">
        <img src="assets/icones/Windfarm.svg" alt="Ícone de Parques" class="icon">
      <div class="card-content">
        <h2>Parques</h2>
        
      </div>
    </div>

    <div class="card">
      <img src="assets/icones/Wind.svg" alt="Ícone de Turbinas" class="icon">
      <div class="card-content">
        <h2>Turbinas</h2>
      </div>
    </div>
  </div>

