#layoutAuthentication #layoutAuthentication_content{
    background-color: #0D356A;
}

/* Centralizando o formulário horizontalmente */
.row.justify-content-center {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Ocupa pelo menos a altura da viewport */
}

/* Adicionando algum espaçamento no topo e no rodapé do card para melhor visualização */
.card {
    margin-top: 20px;
    margin-bottom: 20px;
}
