@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}



.box {
    position: relative;
    width: 380px;
    height: 420px;
    background: #1c1c1c;
    border-radius: 8px;
    overflow: hidden;
}


.box form {
    position: absolute;
    inset: 4px;
    background:  #b6bcbc;
    padding: 50px 40px;
    border-radius: 8px;
    z-index: 2;
    display: flex;
    flex-direction: column;

}

.box form h2 {
    text-align: center;
}

.box form .inputbox {
    position: relative;
    width: 300px;
    margin-top: 35px;
}

.box form .inputbox input {
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    outline: none;
    border: none;
    box-shadow: none;
    color: #23242a;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    z-index: 10;
}

.box form .inputbox span {
    position: absolute;
    left: 0;
    padding: 20px 0px 10px;
    pointer-events: none;
    color: #121C29;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;

}

.box form .inputbox input:valid~span,
.box form .inputbox input:focus~span {
    color: #121C29;
    font-size: 0.75em;
    transform: translateY(-34px);
}
.text-login{
    color: #fff;
}
.box form .inputbox i {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
    transition: 0.5s;
    pointer-events: none;
}

.box form .inputbox input:valid~i,
.box form .inputbox input:focus~i {
    height: 44px;
}

.box form .link {
    display: flex;
    justify-content: space-between;
}

.box form .link a {
    margin: 10px 0;
    font-size: 0.75em;
    color: #121C29;
    text-decoration: none;

}

.box form .link a:hover,
.box form .link a:nth-child(2) {
    color: #fff;
}

.box form input[type="submit"] {
    border: none;
    outline: none;
    padding: 9px 25px;
    background: #121C29;
    cursor: pointer;
    font-size: 0.9em;
    border-radius: 4px;
    font-weight: 600;
    width: 100px;
    margin-top: 10px;
}

.box form input[type="submit"]:active {
    opacity: 0.8;
}


img {
    
    height: auto;
}