     
    <div class="container-mensagens">
        <div class="row">
            <div class="col-md-12">

                <div class="alert alert-success" role="alert" *ngIf="mensagemSucesso">
                    {{ mensagemSucesso }}
                </div>

                <div class="alert alert-danger" role="alert" *ngIf="mensagemErro">
                    {{ mensagemErro }}
                </div>
            </div>
        </div>
        <br />
    </div>


<h1 mat-dialog-title>Confirmação</h1>
<div mat-dialog-content>
  Confirma a deleção do Projeto {{ projetoSelecionado.id }}?
</div>
<div mat-dialog-actions>
  <button mat-button (click)="cancelarDelecao()">Cancelar</button>
  <button mat-button (click)="confirmarDelecao()">Confirmar</button>
</div>
