.container {
    max-width: 1300px;
    margin: 30px auto;
    padding: 10px;
    font-family: 'Nunito Sans', sans-serif;
}
h1 {
    margin: 0; /* Remove a margem padrão do h1 */
    font-family: 'Nunito Sans', sans-serif;
    font-size: 30px;
}

.profile-container {
    display: flex;
    background-color: #CDDAEF;
    padding: 20px;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 70px;
    height: 180px;
}

.profile-header {
    flex: 1;
}

.icon {
    width: 70px; /* Ajuste conforme necessário */
    height: 70px; /* Ajuste conforme necessário */
    margin-right: 30px; /* Espaçamento entre o ícone e o texto */
    background: aliceblue;
    border-radius: 50%;
}

.profile-content {
    display: flex;
    align-items: center;
}

/* Adicione este estilo ao seu arquivo de estilos (por exemplo, meu-perfil.component.css) */

.informacao-usuario {
    margin-top: 20px;
    margin: auto;
    padding: 20px;
   
}
  
.informacao-usuario p {
    margin: 10px 0;
}
  
.informacao-usuario strong {
    font-weight: bold;
    color: #333;
}
  
  /* Adapte as cores, tamanhos e outros estilos conforme necessário. */
  
