<div class="container pt-5">
    <h1 class="mt-4">  Início</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Consulta e Listagem de Projetos e Dívidas Técnicas</li>
    </ol>
        <!-- Tabela de Consultar/Buscar -->
        <div class="container-buscar">
            <form #consultaForm="ngForm" (submit)="consultarProjeto()">
                <div class="row">
                    <div class="col-md-4">
                        <label for="inputNome">Nome do Projeto:</label>
                        <input type="text" [(ngModel)]="nomeDoProjeto" name="nomeDoProjeto" class="form-control"
                            id="inputNome">
                    </div>
                    <div class="col-md-4">
                        <label for="inputEmpresa">Nome da Empresa:</label>
                        <input type="text" [(ngModel)]="empresa" name="empresa" class="form-control" id="inputEmpresa">
                    </div>
                    <div class="col-md-4 text-center">
                        <!-- Adicionamos a classe "text-center" para centralizar o conteúdo -->
                        <button type="submit" class="btn btn-primary" style="margin-top: 10px;">
                            <!-- Adicionamos o estilo "margin-top" -->
                            <i class="fa fa-search"></i> Consultar
                        </button>
                    </div>
                </div>
            </form>

            <div class="alert alert-warning" style="margin-top: 15px;" role="alert" *ngIf="message">
                {{ message }}   
            </div>

            <div class="row">
                <div class="col-md-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Nome do Projeto</th>
                                <th>Empresa</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let c of listaDosProjetos" >
                                <td>{{ c.nomeDoProjeto }} </td>
                                <td>{{ c.empresa }} </td>
                                <td>
                                    <button class="btn btn-primary btn-custom-ver" routerLink="/gerente/cadastro-projeto/{{ c.nomeDoProjeto }}">
                                        <img src="assets/icones/eye.svg" alt="Ícone de Ver" class="icon">
                                        Ver detalhes 
                                    </button>
        
                                    <button class="btn btn-primary btn-custom-editar" routerLink="/gerente/cadastro-projeto/{{ c.nomeDoProjeto }}">
                                        <img src="assets/icones/edit-2.svg" alt="Ícone de Editar" class="icon">
                                        Editar 
                                    </button>
                                    
                                    <button class="btn btn-danger btn-custom-deletar" (click)="preparaDelecao(c)" data-toggle="modal" data-target="#modalDelecaoProjeto">
                                        <img src="assets/icones/delete.svg" alt="Ícone de Deletar" class="icon">
                                        Deletar 
                                    </button>             
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    
                </div>
            </div>

        </div>

        
    <div class="container-mensagens">
        <div class="row">
            <div class="col-md-12">

                <div class="alert alert-success" role="alert" *ngIf="mensagemSucesso">
                    {{ mensagemSucesso }}
                </div>

                <div class="alert alert-danger" role="alert" *ngIf="mensagemErro">
                    {{ mensagemErro }}
                </div>
            </div>
        </div>
        <br />
    </div>

        <!-- TABELA DE CRUD -->
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Projeto</th>
                        <th>Setor</th>
                        <th>Empresa</th>
                        <th>Status do Projeto</th>
                        <th>Ações</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let projeto of projetos | paginate: { itemsPerPage: pageSize, currentPage: page } ">
                     
                        <td>{{ projeto.nomeDoProjeto }}</td>
                        <td>{{ projeto.setor }}</td>
                        <td>{{ projeto.empresa }}</td>
                        <td>{{ projeto.statusProjeto }}</td>
                        <td>
                            <button class="btn btn-primary btn-custom-ver" routerLink="/gerente/cadastro-projeto/{{ projeto.id }}">
                                <img src="assets/icones/eye.svg" alt="Ícone de Ver" class="icon">
                                Ver detalhes 
                            </button>

                            <button class="btn btn-primary btn-custom-editar" routerLink="/gerente/cadastro-projeto/{{ projeto.id }}">
                                <img src="assets/icones/edit-2.svg" alt="Ícone de Editar" class="icon">
                                Editar 
                            </button>
                            
                            <button class="btn btn-danger btn-custom-deletar" (click)="preparaDelecao(projeto)" data-toggle="modal" data-target="#modalDelecaoProjeto">
                                <img src="assets/icones/delete.svg" alt="Ícone de Deletar" class="icon">
                                Deletar 
                            </button>             
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="page" style="text-align: center; margin-top: 10px;">
                <pagination-controls   [previousLabel]="'Anterior'"  [nextLabel]="'Próximo'" (pageChange)="page = $event"></pagination-controls>
            </div>
        </div>



        <!-- TABELA DE CRUD -->
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Projeto</th>
                        <th>Nome da DT</th>
                        <th>Status do Pagamento </th>
                        <th>Status da Fase de Gerenciamento </th>
                        <th>Ações</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr  *ngFor="let dt of dividasTecnicas  | paginate: { itemsPerPage: pageSize, currentPage: page } ">
                        <td>{{ dt.nomeDoProjeto }}</td>
                        <td>{{ dt.nomeDaDividaTecnica }}</td>
                        <td>{{ dt.statusDoPagamentoDT }}</td>
                        <td>{{ dt.statusDaFaseDeGerenciamentoDT }}</td>
                        <td>
                            <button class="btn btn-primary btn-custom-ver" routerLink="/gerente/cadastro-divida-tecnica/{{ dt.nomeDaDividaTecnica }}">
                                <img src="assets/icones/eye.svg" alt="Ícone de Ver" class="icon">
                                Ver detalhes 
                            </button>

                            <button class="btn btn-primary btn-custom-editar" routerLink="/gerente/cadastro-divida-tecnica/{{ dt.nomeDaDividaTecnica }}">
                                <img src="assets/icones/edit-2.svg" alt="Ícone de Editar" class="icon">
                                Editar 
                            </button>
                            
                            <button class="btn btn-danger btn-custom-deletar" (click)="preparaDelecaoDT(dt)" data-toggle="modal" data-target="#modalDelecaoDT">
                                <img src="assets/icones/delete.svg" alt="Ícone de Deletar" class="icon">
                                Deletar 
                            </button>             
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="page" style="text-align: center; margin-top: 10px;">
                <pagination-controls  [previousLabel]="'Anterior'"  [nextLabel]="'Próximo'" (pageChange)="page = $event"></pagination-controls>
            </div>
        </div>
        
        

    <div id="modalDelecaoProjeto" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Confirmação</h4>
                </div>

                <div class="modal-body" *ngIf="projetoSelecionado">
                    Confirma a deleção do Projto {{ projetoSelecionado.id }}?
                </div>

                <div class="modal-footer">
                    <button class="btn btn-success" (click)="deletarProjeto()" data-dismiss="modal">Confirmar</button>
                    <button class="btn btn-default" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
  </div>
        
    
        <div id="modalDelecaoDT" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4>Confirmação</h4>
                    </div>
    
                    <div class="modal-body" *ngIf="dividaSelecionada">
                        Confirma a deleção do Dívida {{ dividaSelecionada.nomeDaDividaTecnica }}?
                    </div>
    
                    <div class="modal-footer">
                        <button class="btn btn-success" (click)="deletarDT()" data-dismiss="modal">Confirmar</button>
                        <button class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>



</div>