.container {
  max-width: 1300px;
  margin: 30px auto;
  padding: 10px;
  font-family: "Nunito Sans", sans-serif;
}
h1 {
  margin: 0; /* Remove a margem padrão do h1 */
  font-family: "Nunito Sans", sans-serif;
  font-size: 30px;
}

/* Adicione este estilo ao seu arquivo de estilos (por exemplo, styles.css) */

.emitir-relatorio {
  display: flex;
  align-items: center; /* Centraliza o ícone verticalmente */
}


.icon{
  height: 20px;
  margin-left: 10px;
}

.table-responsive {
  font-family: "Nunito Sans", sans-serif;
  margin-top: 20px;
  border: 2px solid #d9d9d9;
  border-radius: 5px;
}

.inv {
  display: none;
}
